@charset "UTF-8";

/* Configurações Gerais */
* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav, ul{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

/* Configurações do Header */

header{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;

}

header img{
    width: 200px;
}

header ul {
    display: flex;
}

header li{
    margin: 0 15px;
}

header li:first-child{
    margin-left: 0;
}

header li:last-child{
    margin-right: 0;
}

header li a {
    color: #131a16;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header img{
        margin-bottom: 15px;
    }

}

/* Configurações do Hero */
.hero{
    background-image: url(../imagens/hero.png);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 3.2em;
    margin-top: 15px;
}

.hero h3{
    font-size: 2em;
    margin-bottom: 15px;
}

.hero .btn{
    background-color: #fff;
    border-radius: 4px;
    color: #131a16;
    padding: 20px 50px;
    text-transform: uppercase;
}

@media (max-width: 700px){
    .hero h1{
        font-size: 2.5em;
    }
    .hero h3{
        font-size: 1.5em;
    }

}

/* Configurações do Sobre */
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.sobre h2{
    font-size: 2em;
    margin-bottom: 35px;
    text-align: center;
    color: #131a16;
}
.sobre h3{
    font-size: 1.5em;
    margin-bottom: 35px;
    text-align: center;
    color: #131a16;
}

.sobre p{
    font-size: 1em;
    margin-bottom: 20px;
    text-indent: 10px;
    text-align: justify;
    max-width: 800px;
}

.sobre hr{
    width: 200px;
    height: 2px;
    background-color: #131a16;
    margin-bottom: 70px;
    border: none;
}

.sobre .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.sobre .grid li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.sobre .grid li.small {
    flex-basis: 40%;
}

.sobre .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 700px){
    .sobre .grid li.small, .sobre .grid li.large {
        flex-basis: 100%;
    }    
}

/* Configurações das informações */

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background-color: #131a16;
}

.informacoes h3{
    font-size: 2em;
    margin-bottom: 35px;
    text-align: center;
    color: white;
}

.informacoes h4{
    font-size: 1.5em;
    margin-bottom: 35px;
    text-align: center;
    color: white;
}

.informacoes p{
    font-size: 1em;
    color: white;
    margin-bottom: 20px;
    text-indent: 10px;
    text-align: justify;
    max-width: 800px;
}

.informacoes hr{
    width: 200px;
    height: 2px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 70px;
    border: none;
}

.informacoes .grid2{
    width: 100%;
    display: flex;
}

.informacoes .grid2 li{
    padding: 0 15px;
    text-align: center;
}

.informacoes .grid2 li i{
    color: #cfd151;
    font-size: 3.5em;
    margin-bottom: 30px;
}

.informacoes .grid2 li h4{
    color: #cfd151;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.informacoes .grid2 li p{
    color: #fff;
}

@media (max-width: 850px){
    .informacoes .grid2 {
        flex-direction: column;
    }    
}